:root {
    --darkGreyBg: #010104;
    --deepDarkBg: #2D2D2F;
    --deepDarkPrimary: #03171A;
    --deepDarkSecondary: #0EA0A1;
    --deepDarkAccent: #586049;
    --cavePrimary: #857a7a;
    --caveSecondary: #ffffff;
    --caveAccent: #4B2114;
    --overworldPrimary: #854F2B;
    --overworldSecondary: #477A1E;
    --overworldAccent: #70B237;
    --netherBg: #511515;
    --netherPrimary: #723232;
    --netherSecondary: #AC2020;
    --netherAccent: #119B84;
    --endBg: #141414;
    --endPrimary: #9DCB74;
    --endSecondary: #DE7AFA;
    --endAccent: #5A186B;
}

html {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-size: 14px;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Montserrat;
}

hr {
    width: 100%;
}

p {
    font-size: 14px;
}

body {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-color: var(--darkGreyBg);
    font-family: Poppins, sans-serif;
}

/* 
  ##Device = Large laptops, Desktops
  ##Screen = B/w 1281px to 2560px
*/

@media (min-width: 1281px) and (max-width: 2560px) {

    header {
        position: relative;
        height: 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        border-top: solid 5px var(--overworldSecondary);
        border-bottom: solid 5px var(--cavePrimary);
        background-color: var(--overworldPrimary);
        font-family: Montserrat, sans-serif;
        z-index: 3;
    }

    #side-block {
        height: 100%;
        width: 10%;
        position: fixed;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: var(--cavePrimary);
    }

    #menu {
        height: fit-content;
        width: 10%;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: solid 5px #9c9696;
        margin: 10rem auto;
        background-color: var(--cavePrimary);
        z-index: 3;
    }
    #menu a{
        margin: 0.5rem;
        color: white;
        transition: 0.2s;
    }
    #menu button {
        margin: 0.5rem;
        border: none;
        background: none;
        color: white;
        font-family: Poppins, sans-serif;
        font-size: 14px;
        text-align: left;
    }
    #menu a:hover, #menu button:hover {
        text-decoration-line: underline;
        text-underline-offset: 2px;
    }

    .box {
        position: relative;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 2rem;
        margin-left: 12%;
        background-color: var(--cavePrimary);
        color: var(--caveSecondary);
    }

    .container {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .container-left {
        width: 70%;
        padding: 1rem;
        border-right: solid 1px var(--caveSecondary);
    }

    .container-right {
        width: 30%;
        padding: 1rem;
    }

    #settings-sidebar {
        height: calc(100% - 7rem);
        min-width: calc(15% - 3rem);
        position: absolute;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        padding: 2rem 0;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        border-radius: 0 10px 10px 0;
        margin: 3rem 3rem 0 3rem;
    }
    #settings-sidebar button {
        display: flex;
        gap: 5px;
        align-items: center;
        border: none;
        background: none;
        color: white;
        cursor: pointer;
        font-size: 1rem;
    }
    #settings-sidebar img {
        height: 20px;
    }

    #settings-info-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin: 0 auto;
    }

    #settings-container {
        min-width: 50%;
        padding: 1rem;
        border: solid 1px white;
        border-radius: 20px;
        margin: 3rem auto;
    }

    .settings-option-row {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }
    .settings-option-row button {
        padding: 0.25rem;
        border: solid 1px white;
        border-radius: 5px;
        margin-left: 0.75rem;
        cursor: pointer;
    }
    .settings-option-row button:hover {
        border: solid 1px black;
    }

    #delete-account-btn {
        padding: 0;
        border: none;
        margin: 0;
        background: none;
        color: red;
        font-size: 1rem;
    }
    #delete-account-btn:hover {
        color: #c40000;
    }

    #delete-account-check-card {
        height: 7rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5px;
        border: solid 1px white;
        border-radius: 10px;
        margin: 0 auto;
        background: var(--cavePrimary);
        font-size: 1rem;
    }

    #yes-no-btns {
        display: flex;
        flex-direction: row;
    }
    #yes-no-btns button {
        width: 49%;
        border: solid 1px white;
        border-radius: 5px;
        margin: 0 auto;
        color: white;
        cursor: pointer;
    }
    #delete-yes-btn {
        background: red;
    }
    #delete-yes-btn:hover {
        background: #c40000;
    }
    #delete-no-btn {
        background: grey;
    }
    #delete-no-btn:hover {
        background: #737373;
    }

    .github-btn {
        float: left;
        padding: 0.5rem;
        border: solid 1px white;
        border-radius: 20px;
        margin: 3rem 0.5rem;
        background: linear-gradient(to left, var(--deepDarkPrimary) 50%, white 50%) right; /* makes button effect, moves white background left-to-right*/
        background-size: 200%;
        color: white;
        transition: 0.25s;
    }
    .github-btn:hover {
        background-position: left;
        color: var(--deepDarkPrimary);
        transition: 0.4s;
    }

    .card {
        height: fit-content;
        width: 35rem;
        position: fixed;
        left: 0;
        right: 0;
        top: 50%;
        padding: 3%;
        border-radius: 5px;
        margin: auto;
        background-color: var(--caveSecondary);
        box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.45);
        transition: all 1s linear;
        transform: translateY(-50%);
        z-index: 3;
    }
    .card h2 {
        margin-bottom: 1.75rem;
    }
    .card p {
        margin-top: 1rem;
        text-align: center;
    }

    .close-card-btn {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 20px;
        margin: -30px -30px 0 0;
        background: rgb(45, 45, 47, 0.5);
        color: white;
        font-size: 50px;
    }
    .close-card-btn:hover {
        cursor: pointer;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
        background-color: #d2d2d2;
    }

    #email-input-login, #password-input-login, #email-input-signup, #password-input-signup{
        width: 10rem;
        padding: 2px;
        border: none;
        border-bottom: solid 1px;
        margin: 0.5rem;
        margin-bottom: 1rem;
        background-color: #d2d2d2;
        outline: none;
    }

    #rememberMe-check:hover {
        cursor: pointer;
    }

    #forgot-password-btn {
        border: none;
        margin: 1rem;
        background: none;
        color: var(--deepDarkPrimary);
        cursor: pointer;
    }
    #forgot-password-btn:hover {
        text-decoration-line: underline;
    }

    #login-container p button, #signup-container p button{
        color: var(--deepDarkPrimary);
    }

    #login-btn, #signup-btn {
        height: 2rem;
        width: 100%;
        border: none;
        border-radius: 7px;
        background-color: var(--overworldSecondary);
        color: white;
        transition: 0.2s;
    }
    #login-btn:hover, #signup-btn:hover {
        background-color: var(--overworldAccent);
        cursor: pointer;
    }

    .switch-form-btn {
        border: none;
        background: none;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .game-container {
        position: absolute;
        left: 53%;
        top: 54%;
        height: 70%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
        background-color: var(--netherPrimary);
        color: var(--caveSecondary);
        transform: translate(-50%,-50%);
    }
    .game-container h1 {
        text-decoration-line: underline;
        text-underline-offset: 4px;
    }

    #game-error-msg {
        color: var(--caveSecondary); /*change to minecraft:sign*/
        font-size: 1.25rem;
    }

    #game-win-msg {
        color: var(--caveSecondary); /*change to minecraft:sign*/
        font-size: 1.25rem;
    }

    #board {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 2em;
        padding: 2em;
        background-color: var(--netherBg);
    }
    .square {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--netherSecondary);
        border-radius: 5px;
        background-color: var(--netherPrimary);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .square-correct {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--cavePrimary);
        border-radius: 5px;
        background-color: var(--overworldSecondary);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .square-misplaced {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--cavePrimary);
        border-radius: 5px;
        background-color: #d77700;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .square-incorrect {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--cavePrimary);
        border-radius: 5px;
        background-color: grey;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    #keyboard-container {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: -2rem;
        transform: translateX(-50%) translateY(-80%);
        z-index: 10;
    }

    .keyboard-row {
        height: 3rem;
        display: flex;
        flex-wrap: nowrap;
    }
    .keyboard-row button {
        height: fit-content;
        width: fit-content;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        margin: 0 3px;
        background-color: var(--caveSecondary);
        cursor: pointer;
    }
    .keyboard-row button:hover {
        background-color: #ccc7c2;
        transform: scale(1.05);
    }
    .keyboard-btn-disabled {
        background-color: #868686 !important;
        pointer-events: none;
    }

    .wide-btn {
        padding: 1rem;
    }

    #wiki-wrapper {
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 2rem;
        margin-left: 12%;
        background-color: var(--cavePrimary);
        color: var(--caveSecondary);
    }

    #switch-bedrock-java {
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        margin: 0 auto;
        cursor: pointer;
    }
    #switch-bedrock-java:hover {
        padding: calc(1rem - 1px);
        border: solid 1px black;
        background: var(--overworldAccent);
    }

    #wiki-items-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: center;
        padding: 1rem;
        margin: 1rem auto 0 auto;
    }

    .wiki-item {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: solid 1px var(--caveSecondary);
        margin: 1rem auto;
        background: var(--cavePrimary);
    }
    .wiki-item-img {
        height: 40px;
        border: solid 1px var(--caveSecondary);
    }
    .wiki-item-title {
        font-size: 15px;
        border-bottom: solid 1px white;
    }
    .wiki-item-data {
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 25%;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        margin-top: auto;
        margin-bottom: -27vh;
        background: linear-gradient(var(--cavePrimary), #363333);
    }
    footer ol {
        display: flex;
        flex-direction: column;
    }
    footer a {
        margin: 3px 0;
        color: black;
    }
    footer a:hover {
        color: var(--overworldAccent);
        text-decoration-line: underline;
    }

    #credit-ol {
        width: 30%;
    }
    #credit-p a {
        text-decoration-line: underline;
    }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    header {
        position: relative;
        height: 8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        border-top: solid 5px var(--overworldSecondary);
        border-bottom: solid 5px var(--cavePrimary);
        background-color: var(--overworldPrimary);
        font-family: Montserrat, sans-serif;
        z-index: 3;
    }

    #side-block {
        height: 100%;
        width: 15%;
        position: fixed;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: var(--cavePrimary);
    }

    #menu {
        height: fit-content;
        width: 15%;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 10rem auto;
        border: solid 5px #9c9696;
        background-color: var(--cavePrimary);
        z-index: 3;
    }
    #menu a{
        margin: 0.5rem;
        color: white;
        transition: 0.2s;
    }
    #menu button {
        margin: 0.5rem;
        border: none;
        background: none;
        color: white;
        font-family: Poppins, sans-serif;
        font-size: 14px;
        text-align: left;
    }
    #menu a:hover, #menu button:hover {
        text-decoration-line: underline;
        text-underline-offset: 2px;
    }

    .box {
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 2rem;
        margin-left: 18%;
        background-color: var(--cavePrimary);
        color: var(--caveSecondary);
    }

    .container {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .container-left {
        width: 70%;
        padding: 1rem;
        border-right: solid 1px var(--caveSecondary);
    }

    .container-right {
        width: 30%;
        padding: 1rem;
    }

    .github-btn {
        float: left;
        padding: 0.5rem;
        border: solid 1px white;
        border-radius: 20px;
        margin: 3rem 0.5rem;
        background: linear-gradient(to left, var(--deepDarkPrimary) 50%, white 50%) right; /* makes button effect, moves white background left-to-right*/
        background-size: 200%;
        color: white;
        transition: 0.25s;
    }
    .github-btn:hover {
        background-position: left;
        color: var(--deepDarkPrimary);
        transition: 0.4s;
    }

    .card {
        position: absolute;
        left: 50%;
        top: 50%;
        height: fit-content;
        width: 35rem;
        padding: 3%;
        border-radius: 5px;
        transform: translate(-50%,-50%);
        background-color: var(--caveSecondary);
        box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.45);
        z-index: 3;
        transition: all 1s linear;
    }
    .card h2 {
        margin-bottom: 1.75rem;
    }
    .card p {
        margin-top: 1rem;
        text-align: center;
    }

    .close-card-btn {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 0 5px 0 0;
        margin: -30px -30px 0 0;
        background: none;
        color: black;
        font-size: 50px;
    }
    .close-card-btn:hover {
        cursor: pointer;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
        background-color: #d2d2d2;
    }

    #email-input-login, #password-input-login, #email-input-signup, #password-input-signup{
        width: 10rem;
        padding: 2px;
        border: none;
        border-bottom: solid 1px;
        margin: 0.5rem;
        margin-bottom: 1rem;
        background-color: #d2d2d2;
        outline: none;
    }

    #rememberMe-check:hover {
        cursor: pointer;
    }

    #forgot-password-btn {
        border: none;
        margin: 1rem;
        background: none;
        color: var(--deepDarkPrimary);
        cursor: pointer;
    }
    #forgot-password-btn:hover {
        text-decoration-line: underline;
    }

    #login-container p button, #signup-container p button{
        color: var(--deepDarkPrimary);
    }

    #login-btn, #signup-btn {
        height: 2rem;
        width: 100%;
        border: none;
        border-radius: 7px;
        background-color: var(--overworldSecondary);
        color: white;
        transition: 0.2s;
    }
    #login-btn:hover, #signup-btn:hover {
        background-color: var(--overworldAccent);
        cursor: pointer;
    }

    .switch-form-btn {
        border: none;
        background: none;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .game-container {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 75%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
        margin-left: 8%;
        background-color: var(--netherPrimary);
        color: var(--caveSecondary);
        transform: translate(-50%,-50%);
    }
    .game-container h1 {
        margin-bottom: 3rem;
        text-decoration-line: underline;
        text-underline-offset: 2px;
    }

    #game-error-msg {
        color: var(--caveSecondary); /*change to minecraft:sign*/
        font-size: 1.25rem;
    }

    #game-win-msg {
        color: var(--caveSecondary); /*change to minecraft:sign*/
        font-size: 1.25rem;
    }

    #board {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 2em;
        background-color: var(--netherBg);
    }
    .square {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--netherSecondary);
        border-radius: 5px;
        background-color: var(--netherPrimary);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .square-correct {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--cavePrimary);
        border-radius: 5px;
        background-color: var(--overworldSecondary);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .square-misplaced {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--cavePrimary);
        border-radius: 5px;
        background-color: #d77700;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .square-incorrect {
        height: 2rem;
        width: 2rem;
        margin: 5px;
        border: solid 1px var(--cavePrimary);
        border-radius: 5px;
        background-color: grey;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    #keyboard-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        z-index: 10;
    }
    .keyboard-row {
        height: 3rem;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 3px;
    }
    .keyboard-row button {
        height: fit-content;
        width: fit-content;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        margin: 0 3px 0 3px;
        background-color: var(--caveSecondary);
        cursor: pointer;
    }
    .keyboard-row button:hover {
        background-color: #ccc7c2;
        transform: scale(1.05);
    }
    .keyboard-btn-disabled {
        background-color: #868686 !important;
        pointer-events: none;
    }

    .wide-btn {
        padding: 1rem;
    }

    footer {
        height: 25%;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        margin-top: 10rem;
        margin-bottom: -20vh;
        background: linear-gradient(var(--cavePrimary), #363333);
    }
    footer ol {
        display: flex;
        flex-direction: column;
    }
    footer a {
        margin: 3px 0;
        color: black;
    }
    footer a:hover {
        text-decoration-line: underline;
    }    
}


/* NETHER THEME */

.body-nether {
    background: var(--netherBg);
}

.header-nether {
    border-top: solid 5px var(--netherAccent);
    border-bottom: none;
    background: var(--netherPrimary);
}

.side-block-nether {
    background: var(--netherPrimary) !important;
}

.menu-nether {
    border: solid 5px var(--netherSecondary) !important;
    background: var(--netherPrimary) !important;
}
.menu-nether a {
    color: WHITE !important;
}

.footer-nether {
    background: linear-gradient(var(--netherPrimary), var(--netherBg)) !important;
}
.footer-nether a:hover {
    color: var(--netherAccent);
    transition: 0.1s;
}


/* DEEP DARK THEME */

.body-deep-dark {
    background: var(--deepDarkBg);
}

.header-deep-dark {
    border: none;
    background: var(--deepDarkAccent);
}

.side-block-deep-dark {
    background: var(--deepDarkPrimary) !important;
}

.menu-deep-dark {
    border: solid 5px var(--deepDarkAccent) !important;
    background: var(--deepDarkPrimary) !important;
}
.menu-deep-dark a{
    color: #cecece !important;
}

.box-deep-dark {
    background: var(--deepDarkPrimary);
}

.footer-deep-dark {
    background: linear-gradient(var(--deepDarkPrimary), var(--darkGreyBg));
}
.footer-deep-dark a {
    color: var(--deepDarkSecondary);
}


/* END THEME */

.body-end {
    background: var(--endAccent);
}

.header-end {
    border: none;
    background: var(--endBg);
}

.side-block-end {
    background: var(--endBg) !important;
}

.menu-end {
    border: solid 5px var(--endSecondary) !important;
    background: var(--endBg) !important;
}
.menu-end a{
    color: #cecece !important;
}

.box-end {
    background: var(--endBg);
}

.footer-end {
    background: var(--endPrimary)/*linear-gradient(var(--endPrimary), var(--endBg))*/;
}
.footer-end a {
    color: var(--endBg);
}
.footer-end a:hover {
    color: var(--endAccent);
}

.footer-wiki {
    height: 8rem !important;
    width: 100% !important;
    position: fixed !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    padding: 1rem !important;
    margin: auto;
    background: linear-gradient(var(--cavePrimary), #363333) !important;
}
.footer-wiki ol a {
    margin: 0;
}

/* HIDDEN ELEMENTS */

.error-msg {
    color: red;
}

#err-card {
    padding: 1rem;
    margin: auto;
}
#err-card h1 {
    font-size: 2.5rem;
}
#err-card p {
    font-size: 1rem;
}
#err-card a {
    color: white;
    text-decoration-line: underline;
}

.hidden {
    display: none !important;
}