<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>crafters' Corner | About Us</title>
    <meta name="description" content="For more information about us, you can visit our other websites and social media profiles.">
</head>
<body class="body-deep-dark">
    <header class="header-deep-dark">
        <img src="{{ url_for('static', filename='/images/crafterscorner.png')}}" alt="crafters' Corner Title Image" height="80px">
    </header>

    <div id="side-block" class="side-block-deep-dark">
        <div id="menu" class="menu-deep-dark">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('wiki') }}">Wiki</a>
            <a href="{{ url_for('mindle') }}">Mindle</a>
            <a href="{{ url_for('block_palettes') }}">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your Creations</a>
            <a href="{{ url_for('index') }}">Login</a>
            <a href="#">About Us</a>
        </div>
    </div>

    <div class="box box-deep-dark">
        <div class="container">
            <div class="container-left">
                <h3>Who are we?</h3>
                <p>This website was designed and created by Dylan and Jacob. Who are we? We are college students taking a T-Level course on Technical Qualification in Digital Production, Design and Development. <br><br><hr><br> This website was developed as part of a project for our course. The goal was to learn to work within a team to develop core skills such as teamwork and communication. The project itself also further developed technical skills such as website design, UI design, and general programming skills.</p>
            </div>
            <div class="container-right">
                <h3>Want to see more of our stuff?</h3>
                <a class="github-btn" href="http://dylanbullock.co.uk" target="_blank">Dylan's Portfolio</a>
                <a class="github-btn" href="https://github.com/VulNiamh" target="_blank">Jacob's Github</a>
            </div>
        </div>
    </div>

    <footer class="footer-deep-dark">
        <ol>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="#">About Us</a>
            <a href="{{ url_for('wiki') }}">Wiki</a>
            <a href="{{ url_for('mindle') }}">Minedle</a>
        </ol>
        <ol>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your builds</a>
            <a href="#">Share your redstone creations</a>
            <a href="#">Share your map art</a>
        </ol>
        <ol>
            <a href="{{ url_for('settings') }}">Account Settings</a>
        </ol>
    </footer>
    
</body>
</html>