<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>crafters' Corner | Block Palettes</title>
    <meta name="description" content="Gain inspiration for your next build by browsing through block palettes, or upload your own to help fellow builders.">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/images/crafterscorner.png')}}" alt="crafters' Corner Title Image" height="80px" alt="An image displaying a graphical version of &quot;crafters' Corner&quot;.">
    </header>

    <div id="side-block" aria-label="A side bar that the side-menu navbar scrolls down.">
        <div id="menu" role="navigation" aria-label="The side menu navbar.">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('wiki') }}">Wiki</a>
            <a href="{{ url_for('mindle') }}">Mindle</a>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your Creations</a>
            <a href="{{ url_for('index') }}">Login</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
        </div>
    </div>

    <div id="block-palette-wrapper">
        <h1>Block Palettes</h1>

        <form id="upload-block-palette" name="upload-block-palette" enctype="multipart/form-data" action="{{ url_for('upload_block_palette') }}" method="post">
            <label for="block-palette-name"><input id="block-palette-name" name="block-palette-name" type="text"></label>
            <label for="block-palette-img"><input id="block-palette-img" name="block-palette-img" type="file"></label>
            <button form="upload-block-palette" type="submit">Submit</button>
        </form>

        <div id="block-palettes-container" class="box">
            <img src="data:image/png;base64,{{ png_decoded }}">
            <!-- {{ palettes }} -->
            <!-- {% set counter = 0 %}
            {% for palette in palettes %}
                {% set counter = counter + 1 %}
                <div id="{{ i }}" class="block-palette-item">{{ palette }}</div>
            {% endfor %} -->
        </div>
    </div>

    <footer>
        <ol>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('wiki') }}">Wiki</a>
            <a href="{{ url_for('mindle') }}">Minedle</a>
        </ol>
        <ol>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your builds</a>
            <a href="#">Share your redstone creations</a>
            <a href="#">Share your map art</a>
        </ol>
        <ol>
            <a href="{{ url_for('settings') }}">Account Settings</a>
        </ol>
    </footer>
</body>
</html>