<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crafter's Corner | Mindle</title>
    <meta name="description" content="Test your minecraft knowledge with Mindle. Guess the word within six guesses to win!">
</head>
<body class="body-nether">
    <header class="header-nether">
        <img src="{{ url_for('static', filename='/images/crafterscorner.png')}}" alt="Crafter's Corner Title Image" height="80px">
    </header>

    <div id="side-block" class="side-block-nether">
        <div id="menu" class="menu-nether">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('wiki') }}">Wiki</a>
            <a href="#">Mindle</a>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your Creations</a>
            <a href="{{ url_for('index') }}">Login</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
        </div>
    </div>

    <div class="game-container">
        <h1>Mindle</h1>
        <div id="game-error-msg"></div>
        <div id="game-win-msg"></div>
        <div id="board">
        </div>

        <div id="keyboard-container">
            <div class="keyboard-row">
                <button id="q" data-key="q">q</button>
                <button id="w" data-key="w">w</button>
                <button id="e" data-key="e">e</button>
                <button id="r" data-key="r">r</button>
                <button id="t" data-key="t">t</button>
                <button id="y" data-key="y">y</button>
                <button id="u" data-key="u">u</button>
                <button id="i" data-key="i">i</button>
                <button id="o" data-key="o">o</button>
                <button id="p" data-key="p">p</button>
                <button id="del" data-key="del" class="wide-btn">Delete</button>
            </div>
            <div class="keyboard-row">
                <button id="a" data-key="a">a</button>
                <button id="s" data-key="s">s</button>
                <button id="d" data-key="d">d</button>
                <button id="f" data-key="f">f</button>
                <button id="g" data-key="g">g</button>
                <button id="h" data-key="h">h</button>
                <button id="j" data-key="j">j</button>
                <button id="k" data-key="k">k</button>
                <button id="l" data-key="l">l</button>
                <button id="enter" data-key="enter" class="wide-btn">Enter</button>
            </div>
            <div class="keyboard-row">
                <button id="z" data-key="z">z</button>
                <button id="x" data-key="x">x</button>
                <button id="c" data-key="c">c</button>
                <button id="v" data-key="v">v</button>
                <button id="b" data-key="b">b</button>
                <button id="n" data-key="n">n</button>
                <button id="m" data-key="m">m</button>
            </div>
        </div>
    </div>

    <footer  class="footer-nether">
        <ol>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('wiki') }}">Wiki</a>
            <a href="#">Minedle</a>
        </ol>
        <ol>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your builds</a>
            <a href="#">Share your redstone creations</a>
            <a href="#">Share your map art</a>
        </ol>
        <ol>
            <a href="{{ url_for('settings') }}">Account Settings</a>
        </ol>
    </footer>
    
    <script src="{{ url_for('static', filename='/js/mindle-script.js') }}"></script>
</body>
</html>