<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crafter's Corner | Wiki</title>
    <meta name="description" content="The Crafter's Corner wiki contains information about all blocks, items, entities, and more.">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/images/crafterscorner.png')}}" alt="Crafter's Corner Title Image" height="80px">
    </header>

    <div id="side-block">
        <div id="menu">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="#">Wiki</a>
            <a href="{{ url_for('mindle') }}">Mindle</a>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your Creations</a>
            <a href="{{ url_for('index') }}">Login</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
        </div>
    </div>

    <div id="wiki-wrapper">
        <h1>Minecraft Wiki</h1><br>
        <button id="switch-bedrock-java">Switch to Bedrock</button><br>
        <div id="wiki-items-container"></div>
    </div>

    <footer class="footer-wiki">
        <ol>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="#">Wiki</a>
            <a href="{{ url_for('mindle') }}">Minedle</a>
        </ol>
        <ol>
            <a href="#">Block Palettes</a>
            <a href="#">Build Inspiration</a>
            <a href="#">Share your builds</a>
            <a href="#">Share your redstone creations</a>
            <a href="#">Share your map art</a>
        </ol>
        <ol>
            <a href="{{ url_for('settings') }}">Account Settings</a>
        </ol>
        <ol id="credit-ol">
            <h4>Credit:</h4>
            <p id="credit-p">This website uses data from the<a href="https://github.com/PrismarineJS/minecraft-data?tab=readme-ov-file#license"> minecraft-data</a> repository on Github. Some of their data was extracted from <a href="https://minecraft.fandom.com/">here</a> and also <a href="https://wiki.vg/Mojang_API">here</a>.</p>
        </ol>
    </footer>
    
</body>
<script src="{{ url_for('static', filename='/js/wiki-script.js') }}"></script>
</html>